NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://...
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
CLOUDINARY_CLOUD_NAME=A2IX0lI7x5YmuiU-HIqH4r9jRD0
CLOUDINARY_API_KEY=659289728741466
CLOUDINARY_API_SECRET=A2IX0lI7x5YmuiU-HIqH4r9jRD0


RAZORPAY_KEY_ID=rzp_test_R7iV6LAv6BMWCp
RAZORPAY_KEY_SECRET=YxRssdyCQ6xExtzKYT0b5T2Z

CLIENT_URL=http://localhost:5173
